[submodule "Movie-Trailer-Website"]
	path = Movie-Trailer-Website
	url = https://github.com/defrazr1/Movie-Trailer-Website
[submodule "Portfolio"]
	path = Portfolio
	url = https://github.com/defrazr1/Portfolio.git
[submodule "Developer-Tools"]
	path = Developer-Tools
	url = https://github.com/defrazr1/Developer-Tools.git
[submodule "Virtual-Machine"]
	path = fullstack-nanodegree-vm
	url = https://github.com/defrazr1/fullstack-nanodegree-vm.git
[submodule "log-analysis"]
	path = log-analysis
	url = https://github.com/defrazr1/log-analysis.git
[submodule "Framework-Development"]
	path = Framework-Development
	url = https://github.com/defrazr1/Framework-Development.git
